#activation {
	background: #fd0a0a;
	color: #fff;
}

 #activation .activation-info {
	padding: 20px 10px;
} 

 /* #activation .activation-info h2 {
 	font-weight: bold;
 	padding-bottom: 20px;
 }  */

#activation .activation-info p {
	font-size: 1.2em;
	line-height: 1.6em;
} 

#activation .activation-img {
	padding: 25px 0 25px;	
}

/* @media only screen  and (min-width : 1224px) {
} */
@media only screen and (min-device-width : 990px) and (max-device-width : 1224px) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 990px) {
	#activation .activation-img {
		height: 250px;
		position: inherit;
		padding: 0;
		margin-top: -50px;
	}
	#activation .activation-img img {
		position: absolute;
		clip: rect(50px, auto, auto, 0px);
	}

	#activation .activation-info h2 {
		padding: 10px 0;
	} 

	#activation .activation-info p {
		font-size: 1em;
		line-height: 1.3em;
	} 

}
@media only screen and (min-device-width : 445px) and (max-device-width : 990px) {

}