.header-box {
	margin: 40px 90px 40px 90px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.15);
	padding: 5px 15px;
}

.reddot-logo {
	margin: -20px 20px;
}

.visa-logo {
	padding: 10px;
}

.navbar-right {
	margin-right: 10px;
}

.mobile-navbar-right {
	display: none;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
background-color: transparent;
}

.custom-navbar .nav li a:hover, .custom-navbar .nav li.active > a {
background: transparent;
color: #ff0c0c;
text-decoration: underline;
}

@media only screen and (min-device-width : 990px) and (max-device-width : 1224px) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 990px) {
	.header-box {
		margin: 13px 13px;
		background-color: rgba(255, 255, 255, 1);
		border-radius: 8px;
		box-shadow: 0 1px 5px rgba(0,0,0,0.15);
		/*padding: 0;*/
	}
	.header-box .navbar-header {
		margin-bottom: -15px;
	}
	.mobile-nav {
		background-image: url(../images/menu.png);
		background-repeat: no-repeat;
		float: left;
		margin-left: 8%;
		opacity: .8;
		margin-bottom: 0px;
	}

	.navbar-right {
		display: none;
	}

	.mobile-navbar-right {
		display: inline-block;
		float: right;
		margin: 0;
		padding: 0;
		width: 65%;
	}

	.mobile-navbar-right>li {
		display: inline-table;
		margin-left: 0;
	}

	.reddot-logo {
		width: 80px;
		height: auto;
		margin: -20px 0;
	}

	.visa-logo {
		width: 90px;
		height: auto;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-collapse ul {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 20px;
		font-size: 1.6em;
	}
	.navbar-collapse ul>li {
		display: inline;
	}
}
@media only screen and (min-device-width : 445px) and (max-device-width : 720px) {
	.mobile-navbar-right {
		display: inline-block;
		float: right;
		width: 50%;
	}
}
@media only screen and (min-device-width : 720px) and (max-device-width : 990px) {
	.mobile-navbar-right {
		display: none;
	}
	.navbar-right {
		display: block;
	}
	.reddot-logo {
		width: 88px;
	}
	.visa-logo{
		width: 110px;
	}
}