.header-box {
	margin: 40px 90px 40px 90px;
	/*background-color: #fcfcfc;*/
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.15);
	padding: 5px 15px;
}

.reddot-logo {
	margin: -20px 20px;
}

.visa-logo {
	padding: 10px;
}

.navbar-right {
	margin-right: 10px;
}

.navbar-nav > li > a {
    color: #717171;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover {
	background: transparent;
    color: #ff0c0c;
    text-decoration: underline;
    /* padding-bottom: 10px;
      border-bottom: 1px solid pink;
      line-height: 48px; */
}