#promotions {
	background: #ededed;
}

 #promotions .promotions-info {
	padding: 20px 10px;
} 

#promotions .promotions-img {
	padding: 25px 0 25px;
}

/* @media only screen  and (min-width : 1224px) {
} */
@media only screen and (min-device-width : 990px) and (max-device-width : 1224px) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 990px) {
}
@media only screen and (min-device-width : 445px) and (max-device-width : 990px) {
}