*{
	margin: 0;
	padding: 0;
}

body {
	color: #767676;
}

.red-text {
	color: #ff0c0c;
}

img {
	width: 100%;
}

h2 {
	font-weight: bold;
	padding: 20px 0;
} 

p {
	font-size: 1.2em;
	line-height: 1.6em;
	padding: 5px 0;
}

.light-shadow {
	-moz-box-shadow: 0 3px 10px #bcbcbc;
	-webkit-box-shadow: 0 3px 10px #bcbcbc;
	box-shadow: 0 3px 10px #bcbcbc;
}

.dark-shadow {
	-moz-box-shadow: 0 3px 10px #bcbcbc;
	-webkit-box-shadow: 0 3px 10px #bcbcbc;
	box-shadow: 0 3px 10px #bcbcbc;
}